$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import 'variables';
@import '~jquery-toast-plugin/src/jquery.toast.css';

// ---------------Global - Start---------------
body {
  background-color: $bootstrap-gray;
  font-family: 'Raleway', sans-serif;
}
// ---------------Global - End---------------

// ------------Landing Page - Start ---------------
#auth-view {
  // setting landing page view to size of viewport
  // Boston Aerial
  background: url('https://i.imgur.com/mB2Gj8Y.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
  width: 100vw;
}

.name {
  color: $white;
  font-family: 'Bungee Outline', cursive;
  // font-family: 'Sacramento', cursive;
  // font-family: 'Monoton', cursive;
  // font-family: 'Limelight', cursive;
  font-size: 11em;
}

.login,
.sign-up {
  background-color: transparent;
  border-radius: 5px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 300px;
}

.auth-input {
  border: 0;
  border-radius: 6px;
  outline: none;
  padding: 8px;
  width: 225px;
}

.auth-input::placeholder {
  color: $sandy-brown;
  opacity: 1;
}

.login-btn {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 6px;
  color: $white;
  padding: 8px;
  transition: background 0.3s ease-in-out;
  width: 225px;
}

.login-btn:hover {
  background: $white;
  color: $sandy-brown;
}

.login-element,
.sign-up-element {
  margin-bottom: 12px;
}

.sign-up-toggle,
.sign-in-toggle {
  color: $white;
}

.sign-up-toggle:hover,
.sign-in-toggle:hover {
  cursor: pointer;
  color: $blue;
}

.sign-up-form,
.login-form {
  border: 4px solid $white;
  border-radius: 12px;
  padding: 35px;
  padding-top: 46px;
}

.notification-banner {
  position: absolute;
  top: 0;
  width: 100%;
}

.notification-banner > .alert {
  border-radius: 0;
}
// ---------------Landing Page - End---------------

// ------------Static Nav - Start ---------------

.navbar-brand {
  font-family: 'Bungee Outline', cursive;
  font-size: 3em;
  color: black;
}

#user-email-dropdown {
  color: black;
}
// ------------Static Nav - End ---------------

// ---------------Carousel Page - Start---------------

img.img-constrain {
  border-radius: 18px;
}

.carousel {
  margin-top: 8%;
}

.carousel-control {
  width: 0;
}

.left {
  left: calc($carousel-image-width - 120px);
}

.right {
  left: calc($carousel-image-width - 120px);
}

// .img-constrain {
//   height: 300px;
//   width: 300px;
// }

.img-constrain {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 570px;
  max-width: $carousel-image-width;
  width: auto;
}
// ---------------Carousel Page - End---------------

// ------------Modals - Start ---------------
// Change password modal - Start
.change-pw-modal-content {
  width: 500px;
  padding: 16px;
  padding-bottom: 11px;
  position: relative;
  left: 23%;
  top: 80px;
}

.close-modal {
  float: right !important;
  background: transparent;
  border: none;
  position: relative;
  bottom: 7px;
  left: 6px;
}

.new-label {
  position: relative;
  bottom: 10px;
  left: 1px;
}

.current-label {
  position: relative;
  top: 13px;
  left: 4px;
}
// Change password modal - End
// ------------Modals - End ---------------

// ------------Upload Images Page - Start ---------------

// ------------Upload Images End - End ---------------

// ------------My Images Page - Start ---------------
.my-images-header {
  text-align: center;
  font-size: 3em;
}

.image-readout-wrapper {
  height: 400px;
  margin-bottom: 50px;
}

.image-readout-image {
  height: 300px;
  width: 100%;
  background: transparent;
  background-size: cover !important;
  background-repeat: no-repeat;
  background: transparent;
  background-position-x: center;
  background-position-y: center;
}
// ------------My Images End - End ---------------

// ------------Media Queries - Start ---------------
@media (max-width: 991px) {
  .change-pw-modal-content {
    left: 10%;
  }
}

@media (max-width: 767px) {
  .change-pw-modal-content {
    left: 17%;
  }

  .new-label {
    position: relative;
    bottom: 0px;
    left: 0px;
  }

  .current-label {
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@media (max-width: 716px) {
  .change-pw-modal-content {
    left: 16%;
  }
}

@media (max-width: 681px) {
  .change-pw-modal-content {
    left: 13%;
  }
}

@media (max-width: 623px) {
  .change-pw-modal-content {
    left: 10%;
  }
}

@media (max-width: 582px) {
  .change-pw-modal-content {
    left: 6%;
  }
}

@media (max-width: 555px) {
  .change-pw-modal-content {
    left: 13%;
    width: 400px;
  }
}

@media (max-width: 489px) {
  .change-pw-modal-content {
    left: 8%;
  }
}

@media (max-width: 450px) {
  .change-pw-modal-content {
    left: 0;
  }
}

@media (max-width: 413px) {
  .change-pw-modal-content {
    left: -6px;
  }
}

@media (max-width: 405px) {
  .change-pw-modal-content {
    left: -10px;
  }
}
// ------------Media Queries - End ---------------
