$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import 'variables';
@import '~jquery-toast-plugin/src/jquery.toast.css';

// ---------------Global - Start---------------
body {
  // background-color: $bootstrap-gray;
  background-color: $white;
  font-family: 'Raleway', sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color: $tangerine;
}

// editing scroll bars - START
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
// editing scroll bars - END

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

// ---------------Global - End---------------

// ------------Landing Page - Start ---------------
#auth-view {
  // setting landing page view to size of viewport
  // Boston Aerial
  background: url('https://i.imgur.com/mB2Gj8Y.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
  text-align: center;
  width: 100vw;
}

.name {
  color: $white;
  font-family: 'Bungee Outline', cursive;
  // font-family: 'Sacramento', cursive;
  // font-family: 'Monoton', cursive;
  // font-family: 'Limelight', cursive;
  font-size: 11em;
}

.login,
.sign-up {
  // background-color: transparent;
  border-radius: 5px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 300px;
}

form#login-form,
form#sign-up-form {
  background-color: rgba(0, 0, 0, 0.5);
}

.auth-input {
  border: 0;
  border-radius: 6px;
  outline: none;
  padding: 8px;
  width: 225px;
}

.auth-input::placeholder {
  color: $sandy-brown;
  opacity: 1;
}

.login-btn {
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 6px;
  color: $white;
  padding: 8px;
  transition: background 0.3s ease-in-out;
  width: 225px;
}

.login-btn:hover {
  background: $white;
  color: $sandy-brown;
}

.login-element,
.sign-up-element {
  margin-bottom: 12px;
}

.sign-up-toggle,
.sign-in-toggle {
  color: $white;
}

.sign-up-toggle:hover,
.sign-in-toggle:hover {
  cursor: pointer;
  color: $blue;
}

.sign-up-form,
.login-form {
  border: 4px solid $white;
  border-radius: 12px;
  padding: 35px;
  padding-top: 46px;
}

.notification-banner {
  position: absolute;
  top: 0;
  width: 100%;
}

.notification-banner > .alert {
  border-radius: 0;
}
// ---------------Landing Page - End---------------

// ------------Static Nav - Start ---------------
.navbar {
  background-color: $tangerine;
  border-radius: 0;
  border: none;
}

.navbar-brand {
  font-family: 'Bungee Outline', cursive;
  font-size: 3em;
  color: white !important;
}

#user-email-dropdown {
  color: white;
}

.dropdown-toggle {
  color: white !important;
}
// ------------Static Nav - End ---------------

// ---------------Carousel Page - Start---------------

.glyphicon-chevron-left,
.glyphicon-chevron-right {
  color: $tangerine;
}

.carousel-header {
  font-size: 48px;
  text-align: center;
  margin-top: -1.5%;
  margin-bottom: -6.5%;
  // font-family: 'Pacifico', cursive;
  font-family: 'Dancing Script', cursive;
}

img.img-constrain {
  border-radius: 18px;
  border: 6px solid $tangerine;
  padding: 6px;
}

.carousel {
  margin-top: 8%;
}

.carousel-control {
  width: 0;
}

.left {
  left: calc($carousel-image-width - 120px);
}

.right {
  left: calc($carousel-image-width - 120px);
}

// .img-constrain {
//   height: 300px;
//   width: 300px;
// }

.img-constrain {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 570px;
  max-width: $carousel-image-width;
  width: auto;
}

.commentor-1 {
  color: black;
}

.single-image {
  height: 350px;
  // background-color: yellow;
  background-size: cover !important;
  background-repeat: no-repeat;
  background: transparent;
  background-position-x: center;
  background-position-y: center;
}

.single-title {
  height: 65px;
  text-align: center;
  position: relative;
  top: 10px;
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
  // font-family: 'Sail', cursive;
}

.carousel-image-info-wrapper {
  overflow: auto;
  margin: 0px;
  padding-top: 16px;
  margin-left: 11px;
  margin-right: 11px;
  height: 322px;
}

.single-description,
.single-owner,
.single-location {
  margin-bottom: 10px;
}

.single-location {
  font-style: italic;
  text-align: center;
}

.single-tags {
  color: $tangerine;
}

.single-owned-prop {
  text-decoration: underline;
  color: black;
}

.comments-form {
  border-top: 2px solid black;
  margin-top: 5%;
}

.comments-wrapper {
  position: relative;
  bottom: 48px;
  margin-bottom: -9%;
}

.commentor {
  color: black;
}

.comments-button {
  position: relative;
  top: 8px;
  margin-top: 37%;
  right: 0%;
  width: 46px;
  text-align: center;
  padding-left: 13%
}

.sample-comment {
  padding: 2%;
  background-color: $tangerine;
  color: $white;
  border-radius: 13px;
  margin-bottom: 0.5%;
}

#inputComments {
  position: relative;
  left: 1%;
  bottom: 48px;
  width: 121%;
}

// ---------------Carousel Page - End---------------

// ------------Modals - Start ---------------

// single-image-readout-modal - START
.single-close {
  border: 0;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 1px;
  position: absolute;
  right: 2%;
  margin-top: 4px;
}

.space-div {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.single-image-readout-modal-set-width {
  width: 595px !important;
}
// single-image-readout-modal - END

// Change password modal & Edit image modal - Start

#tags1 {
  color: $tangerine;
}

.modal-button:hover {
  background: $tangerine;
  color: $white;
}

.edit-image-modal-content {
  padding: 0 !important;
}

.edit-image-modal-banner {
  height: 35px;
  background-color: $tangerine;
  margin-bottom: 16px;
}

#edit-image-form {
  margin-right: 14px;
  margin-left: 9px;
}

.change-pw-modal-content,
.edit-image-modal-content {
  width: 500px;
  padding: 16px;
  padding-bottom: 11px;
  position: relative;
  left: 23%;
  top: 80px;
}

.close-modal {
  float: right !important;
  background: transparent;
  border: none;
  position: relative;
  bottom: 7px;
  left: 6px;
}

.new-label {
  position: relative;
  bottom: 10px;
  left: 1px;
}

.current-label {
  position: relative;
  top: 13px;
  left: 4px;
}

#image-uploader {
  border: 1px dashed white;
  height: 200px;
}
// Change password modal - End
// ------------Modals - End ---------------

// ------------Upload Images Page - Start ---------------

// ------------Upload Images End - End ---------------

// ------------My Images Page - Start ---------------
.my-images-header {
  text-align: center;
  font-size: 3.5em;
  font-family: 'Dancing Script', cursive;
}

.image-readout-wrapper {
  height: 426px;
  margin-bottom: 50px;
  padding: 0px;
  border: 1px solid black;
  font-size: 13px;
  overflow: auto;
  border-radius: 7px;
}

.my-images-readout-wrapper {
  padding-right: 8%;
  margin-top: 2%;
  margin-bottom: 50px;
}

.image-readout-image {
  height: 300px;
  width: 100%;
  background: transparent;
  background-size: cover !important;
  background-repeat: no-repeat;
  background: transparent;
  background-position-x: center;
  background-position-y: center;
}

.image-readout-title {
  text-align: center;
  font-size: 18px;
  height: 8%;
  background-color: $tangerine;
  padding-top: 1.5%;
}

.my-images-info-wrapper {
  margin-top: 3%;
  margin-left: 3%;
}

.image-readout-description,
.image-readout-owner,
.image-readout-tags {
  padding-bottom: 2%;
}

.edit-image-button {
  padding: 2%;
  margin-left: 15%;
  font-size: 12px;
  margin-top: 2%;
  background-color: $white;
  color: $tangerine;
  transition: background 0.3s ease-in-out;
  margin-bottom: 5%;
}

.delete-image-button {
  padding: 2%;
  font-size: 12px;
  margin-top: 2%;
  background-color: $white;
  color: $tangerine;
  transition: background 0.3s ease-in-out;
  margin-bottom: 5%;
}

.delete-image-button:hover,
.edit-image-button:hover {
  background-color: $tangerine;
  color: $white;
}

.no-images {
  height: 350px;
  background-color: $tangerine;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 3.5%;
  margin-top: 6%;
  border: 1px solid black;
  text-align: center;
  padding-top: 11%;
  font-size: 22px;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
}

// ------------My Images End - End ---------------

// ------------Media Queries - Start ---------------
@media (max-width: 991px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 10%;
  }
}

@media (max-width: 767px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 17%;
  }

  .new-label {
    position: relative;
    bottom: 0px;
    left: 0px;
  }

  .current-label {
    position: relative;
    top: 0px;
    left: 0px;
  }

  .space-div {
    margin-bottom: 20px;
  }
}

@media (max-width: 716px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 16%;
  }
}

@media (max-width: 681px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 13%;
  }
}

@media (max-width: 623px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 10%;
  }
}

@media (max-width: 582px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 6%;
  }
}

@media (max-width: 555px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 13%;
    width: 400px;
  }
}

@media (max-width: 489px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 8%;
  }
}

@media (max-width: 450px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: 0;
  }
}

@media (max-width: 413px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: -6px;
  }
}

@media (max-width: 405px) {
  .change-pw-modal-content,
  .edit-image-modal-content {
    left: -10px;
  }
}
// ------------Media Queries - End ---------------
